.about-page-container {
  min-height: 100vh;
  background-image: url('../images/homeBg.png');
  background-repeat: repeat-y;
  background-position-x: center;
  background-size: contain;
  position: relative;
  transition: 1s;
  z-index: -1;
  padding-bottom: 80px;
}

.about-page-container main {
  transition: 1s;
  padding: 60px 20px 0;
  display: flex;
  flex-direction: column;
}

.about-picture-container {
  width: calc(100vw - 4px);
  height: 14.5em;
  text-align: center;
  perspective: 100px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  border: solid 2px;
  border-color: rgba(0, 0, 0, 0.562);
}

.about-picture {
  width: 100%;
  height: 100%;
  transform: translateZ(40px);
  object-fit: cover;
  object-position: 60px 20px;
}

.about-page-container main h1 {
  margin-bottom: 10px;
  color: white;
  margin-left: 10px;
}

.about-page-container main > h2 {
  margin: 13px 0;
  margin-left: 10px;
  color: white;
}

.about-page-container main > h3 {
  margin-top: 25px;
}

.about-page-container main h4 {
  margin: 10px 0;
}

.about-page-container main h5 {
  margin: 8px 0;
}

.hard-skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.hard-skills div {
  height: 100px;
  overflow: hidden;
  margin-bottom: 20px;
  width: 25vw;
  perspective: 100px;
  border-radius: 20px;
  border:rgba(0, 0, 0, 0.562) solid 1px;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 4px;
}

.hard-skill {
  width: 100%;
  object-fit: contain;
  height: 100%;
}

.hard-skill-2 {
  transform: scale(1.05);
}

.hard-skill-3 {
  transform: scale(1.75);
}

.hard-skill-4 {
  transform: scale(1.15);
}

.hard-skill-5 {
  transform: scale(1.35);
}
