#root {
  background-image: url('../images/homeBg.png');
  background-repeat: repeat-y;
  background-position-x: center;
  background-size: contain;
}

.g-recaptcha div {
  width: 100%;
}

.contact-page-container {
  min-height: calc(100vh - 145px);
  position: relative;
  transition: 1s;
  transform: translateY(70px);
  padding: 0 20px;
  display: flex;
  flex-direction: column;
}
