.home-page-container {
  min-height: 90vh;
  background-image: url('../images/homeBg.png');
  background-repeat: repeat-y;
  background-position-x: center;
  background-size: contain;
  position: relative;
  transition: 1s;
}

.home-page-container main {
  transition: 1s;
  padding: 60px 20px 0;
  display: flex;
  flex-direction: column;
}

.home-page-container main a {
  margin: 10px 20px 25px;
  align-self: center;
}

.home-page-container main a button {
  padding: 25px 15px;
  border: 5px dashed;
  background: none;
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 900;
  border-radius: 10%;
}
