.projects-page-container {
  min-height: calc(100vh - 160px);
  position: relative;
  transition: 1s;
  padding: 20px 60px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.projects-page-container h1 {
  margin: 20px 10px;
  text-align: center;
}

.container-btn-project {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.btn-projects {
  padding: 10px 0;
  margin: 0 30px;
  border: 5px dashed;
  background: none;
  letter-spacing: 2px;
  font-weight: 900;
  border-radius: 10%;
  position: relative;
  overflow: hidden;
  color: #000;
  cursor: pointer;
  background-color: #fff;
  text-transform: uppercase;
  min-width: 200px;
}

.btn-project-active {
  background-color: #000;
  color: #fff;
  border: 5px dashed #fff;
}

.projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: space-around;
  justify-content: space-evenly;
}

@media screen and (max-width: 767.98px) {
  .projects {
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  }

  .projects-page-container {
    padding: 70px 20px 60px;
  }

  .container-btn-project {
    justify-content: space-around;
  }
  
  .btn-projects {
    margin: 0;
    width: 40%;
    min-width: initial;
  }
}
