.footer {
  background-color: black;
  color: white;
  position: fixed;
  left: 0;
}

.footer div {
  display: flex;
}

.footer p {
  display: flex;
  justify-content: center;
  position: relative;
}

.github {
  height: 40px;
  object-fit: cover;
  position: absolute;
}

.linkedin {
  object-fit: cover;
  position: absolute;
}

@media (max-width: 767.98px) {
  .footer {
    display: initial;
    bottom: 40px;
    height: 90px;
    width: 50px;
  }

  .footer div {
    flex-direction: column;
    justify-content: initial;
    margin: initial;
  }

  .footer a {
    height: 45px;
    width: 100%;
  }

  .footer p {
    height: 45px;
    width: 100%;
    margin: 0;
  }

  .github {
    width: 80%;
  }

  .linkedin {
    height: 40px;
    width: 70%;
  }
}

@media (max-width: 575.98px) {
  .footer {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    bottom: 0;
    height: 60px;
  }

  .footer div {
    justify-content: center;
    flex-direction: initial;
    margin: 10px 0 0;
  }

  .footer a {
    height: initial;
    width: initial;
  }

  .footer p {
    height: 50px;
    margin: 0 40px;
    width: 50px;
  }

  .github {
    width: 40px;
  }

  .linkedin {
    height: 50px;
    width: 50px;
  }
}
