.navbar-container {
  position: fixed;
  top: 0;
  height: 100px;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;
  background-color: white;
}

.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.profile img {
  width: 40px;
  margin-right: 10px;
}

.profile span {
  font-weight: 600;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.navbar a {
  margin: initial;
  cursor: default;
}

.navbar a button {
  background-color: transparent;
  font-size: 16px;
  padding: 8px 20px;
  margin: 0 20px;
  text-align: center;
  border: none;
  font-weight: 500;
  position: relative;
  cursor: pointer;
  border-radius: 10px;
}

.active button,
.navbar a button:hover {
  background-color: #445964 !important;
  color: white;
}

@media screen and (max-width: 767.98px) {
  .navbar-container {
    height: initial;
  }
  
  .navbar {
    height: 95px;
    display: flex;
    overflow: hidden;
    transition: 1s;
  }

  .colapsed-bar {
    height: 0;
  }

  .links-container {
    height: initial;
    align-items: flex-end;
    justify-content: space-around;
  }

  .links-container a {
    margin: 15px 5px;
  }

  .links-container a button {
    background: none;
    font-size: 16px;
    padding: initial;
  }

  .toggle-colapsed-bar {
    left: 20px;
    z-index: 1;
    position: fixed;
    top: 20px;
    border-color: transparent;
    background-color: black;
    border-radius: 25%;
    width: 50px;
    height: 50px;
    transition: 1s;
    display: initial;
  }

  .toggle-colapsed-bar:after {
    position: absolute;
    top: 15%;
    right: 10%;
    border-radius: 10%;
    width: 80%;
    height: 10%;
    transition: 1s;
    background-color: white;
    content: '';
  }

  .toggle-colapsed-bar:before {
    position: absolute;
    bottom: 15%;
    transition: 1s;
    right: 10%;
    border-radius: 10%;
    width: 80%;
    height: 10%;
    background-color: white;
    content: '';
  }

  .toggle-colapsed-bar span {
    position: absolute;
    top: 45%;
    right: 10%;
    border-radius: 10%;
    width: 80%;
    height: 10%;
    background-color: white;
  }

  .navbar-opened {
    transform: translateX(calc(100vw - 70px)) translateY(-10px);
    background-color: white;
    width: 40px;
    height: 40px;
  }

  .navbar-opened:after {
    background-color: black;
    transform: translateY(300%) rotate(45deg);
  }

  .navbar-opened:before {
    background-color: black;
    transform: translateY(-300%) rotate(-45deg);
  }

  .navbar-opened span {
    opacity: 0;
  }

  .navbar-opened-sibling {
    transition: 1s;
    transform: translateY(30px);
  }
}
