.navbar-container {
  height: 70px;
}

.navbar {
  background-color: #111;
  left: 0;
  position: fixed;
  height: 70px;
  display: initial;
  top: 0;
  z-index: 1;
  width: 100vw;
}

.links-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
}

.links-container a {
  margin: initial;
}

.links-container a button {
  color: white;
  background-color: transparent;
  font-size: 1.2em;
  padding: 10px;
  text-align: center;
  border: none;
  font-weight: 900;
  position: relative;
  cursor: pointer;
}

.links-container a button:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-right: 5px solid white;
  border-top: 5px solid white;
  z-index: -1;
  transition: 1s;
  opacity: 0;
}

.links-container a button:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  border-left: 5px solid white;
  z-index: -1;
  opacity: 0;
  border-bottom: 5px solid white;
  transition: 1s;
}

.links-container a button:hover:after {
  width: 60%;
  opacity: 1;
  height: 60%;
}

.links-container a button:hover:before {
  width: 60%;
  opacity: 1;
  height: 60%;
}

.toggle-colapsed-bar {
  display: none;
}

@media screen and (max-width: 767.98px) {
  .navbar-container {
    height: initial;
  }
  
  .navbar {
    height: 95px;
    display: flex;
    overflow: hidden;
    transition: 1s;
  }

  .colapsed-bar {
    height: 0;
  }

  .links-container {
    height: initial;
    align-items: flex-end;
    justify-content: space-around;
  }

  .links-container a {
    margin: 15px 5px;
  }

  .links-container a button {
    background: none;
    font-size: 16px;
    padding: initial;
  }

  .toggle-colapsed-bar {
    left: 20px;
    z-index: 1;
    position: fixed;
    top: 20px;
    border-color: transparent;
    background-color: black;
    border-radius: 25%;
    width: 50px;
    height: 50px;
    transition: 1s;
    display: initial;
  }

  .toggle-colapsed-bar:after {
    position: absolute;
    top: 15%;
    right: 10%;
    border-radius: 10%;
    width: 80%;
    height: 10%;
    transition: 1s;
    background-color: white;
    content: '';
  }

  .toggle-colapsed-bar:before {
    position: absolute;
    bottom: 15%;
    transition: 1s;
    right: 10%;
    border-radius: 10%;
    width: 80%;
    height: 10%;
    background-color: white;
    content: '';
  }

  .toggle-colapsed-bar span {
    position: absolute;
    top: 45%;
    right: 10%;
    border-radius: 10%;
    width: 80%;
    height: 10%;
    background-color: white;
  }

  .navbar-opened {
    transform: translateX(calc(100vw - 70px)) translateY(-10px);
    background-color: white;
    width: 40px;
    height: 40px;
  }

  .navbar-opened:after {
    background-color: black;
    transform: translateY(300%) rotate(45deg);
  }

  .navbar-opened:before {
    background-color: black;
    transform: translateY(-300%) rotate(-45deg);
  }

  .navbar-opened span {
    opacity: 0;
  }

  .navbar-opened-sibling {
    transition: 1s;
    transform: translateY(30px);
  }
}
