* {
  margin: 0;
  padding: 0;
}

#root {
  background-image: url('./images/homeBg.png');
  background-repeat: repeat-y;
  background-position-x: center;
  background-size: contain;
  min-height: 100vh;
  overflow: hidden;
  width: 100%;
  box-sizing: border-box;
}
